.contact_photo{
  height: 400px;
  width: 380px;
  border-radius: 120px 20px 120px 20px;

}

header
{
  font-family: Poppins;
}
.me_span{
  color: red;
}

.wrapper > * {
  background-color: white;
  color: black;
  border-radius: 0px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}




.social a{
	margin: 6px 12px;

}
.social i{
	color:rgba(18,17,17,0.40);
	font-size: 30px;
}
.social a:hover i{
	color:#17d1ac;
	transition: all ease 0.5s;
}
